<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LXDatePickerView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8A2854F61E581B6900425DCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A28550F1E581B6A00425DCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A28551A1E581B6A00425DCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
